* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html #__next,
body #__next {
  height: 100%;
}

body {
  font-size: 16px;
  margin: 0;
  font-family: 'Lobster', cursive;
  font-family: 'Nova Slim', cursive;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: none;
  box-sizing: border-box;
  background-color: #fff;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a,
li,
ul {
  color: inherit;
  text-decoration: none;
  list-style: none;
}

article,
div,
footer,
header,
main,
nav,
section,
span,
figure,
ul {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
}

thead, tbody, tfoot, tr, td, th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
 
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: block;
}

.mapboxgl-map,
.mapboxgl-map>div {
  display: block !important;
  position: unset;
}

.mapboxgl-ctrl-top-left {
  display: none !important;
}

.mapboxgl-canvas-container {
  height: 100%;
}

.mapboxgl-canvas {
  height: 100% !important;
}

.swiper-wrapper {
  flex-direction: row;
}

.MuiInputBase-root {
  flex-direction: row !important;
}
.css-efvcc7-MuiPaper-root-MuiAlert-root {
  flex-direction: row !important;
}

.css-xilmwd-MuiPaper-root-MuiAlert-root {
  flex-direction: row !important;
}
.Toastify {
  display: contents;
}

main {
  flex: 1
}

.main_client {
  margin-top: 42px;
  gap: 20px;
}

@media screen and (min-width: 770px) {
  .main_client {
    margin-top: 50px;
    gap: 30px;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background: #253d4eaf;
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}